venv/
.venv/
env/
__pycache__/
*.pyc
src/data/raw/
src/data/processed/
*.csv
*.xlsx
src/notebooks/
notebooks/
EDA-*.ipynb
Untitled*.ipynb
src/training/
src/tuning/
src/evaluation/*.png
docs/
*.md
.git/
.gitignore
.env
.ipynb_checkpoints/
